body {
  background: #f0fff4;
  color: #333333;
  margin-top: 5rem;
}
* {
  font-family: Palatino Linotype, monospace;
}

textarea {
  font-size: 12px;
  width: 100%;
}

.comment-div{
  width: 360px;
  padding-left:355px;
}
.post-border{
  padding: 4px;
}
.comment {
  align: left;
  float: left;
}
.p{
  padding-top: 9px;
  padding-left: 9px;
}
.upvoting_pressed {
  background-color: #4CAF50;
  color: white;
  font-size: 120%;
}

.downvoting_pressed {
  background-color: red;
  font-size: 120%;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
}

.full-height {
  height: 100%;
}

ul {
  margin: 0;
}

.user-posts {
  background-color: #d3d1ff;
}

.bg-steel {
  background-color:	#ffffbf;
}

.site-header .navbar-nav .nav-link {
  color: black;
}

.site-header .navbar-nav .nav-link:hover {
  color: black;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
  color: black;
}

.content-section {
  background: white;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  font-size: 14px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 60px;
  height: 20px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-img-small {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
